:root {
  --color-caja-titulo: rgb(42, 165, 93);
  --color-bg: #f3f4f6;
}

* {
  margin: 0px;
  padding: 0px;
}
.cont_p {
  width: 100%;
  background-color: aqua;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
}

#contenedor,
#contenedor2 {
  margin: 20px auto;
  width: 100%;
}


#caja,
#caja3 {
  background-color: rgb(8, 8, 8);
  text-align: center;
  width: 100%;
}

#caja2 {
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  text-align: left;
  font-size: 17px;
}
@media (min-width: 400px) {
  #caja2{
    font-size:29px ;
  }
}

#caja4 {
  margin-top: 10px;
  padding: 10px 0px 10px 0px;
  background-color: white;
  text-align: left;
  font-size: 17px;
}
#titulo {
  color: white;
  font-size: 5vh;
  width: 100%;
  background-color: var(--color-caja-titulo);
}

.cont-text {
  display: flex;
  justify-content: space-around;
}
h2 {
  padding-top: 30px;
  font-size: 5vh;
}
section{
  width: 50%;
  padding: 20px;
}
#usuario,
#password,
#usuario2,
#password2 {
  background-color: rgb(247, 247, 247);
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  height: 5vh;
  width: 100%;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: text;
}

#boton {
  border-radius: 6px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

#clic {

  padding: 10px 15px;
  border: 0;
  font-size: 3vh;
  width: auto;
  border-radius:5px;
  background-color: rgb(20, 218, 37);
  color: rgb(0, 0, 0);
  font-weight: bold;
}
#copiar{
  padding: 10px 15px;
  border: 0;
  font-size: 3vh;
  width: auto;
  border-radius:5px;
  background-color: rgb(20, 155, 218);
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer;
}
#limpiar{
  background-color:rgb(173, 24, 19) ;
  padding: 10px 15px;
  border: 0;
  font-size: 3vh;
  width: auto;
  border-radius:5px;
  color: rgb(253, 253, 253);
  font-weight: bold;
  cursor: pointer;
}
#clic:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

body.light-theme {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
  background-color: var(--color-bg);
}

/*CAMBIAR A NOCHE*/

body.dark-theme {
  --color-bg: #2e2e30;
  --color-caja-titulo: rgb(182, 24, 103);
}

